{% extends "layout.html" %}

{% block title %}
    About
{% endblock %}

{% block main %}
<div class="about_body">
	<p>&nbsp;</p>
	<p>Avery is a Systems Administrator at Harvard's School of Engineering and Applied Sciences. He received his BS in Psychology from University of Vermont and both an Advanced Certificate in Public Health and MPH from NYU where he was a member of the inaugural Cross-continental MPH cohort. After graduation, Avery has worked on developing content for several of the Applied Global Public Health courses as well as aiding in facilitating those courses. Additionally, Avery has been an EMT for 7 years and uses that experience both in his research on EMS systems and to inform his course design responsibilities.</p>
</div>
{% endblock %}